@tailwind base;
@tailwind components;
@tailwind utilities;

/* horizontal divider for search button and current location  */

hr {
    border: none;
    border-top: 1px solid  #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 220px;
    margin: 20px;
  }
  
  hr::after {
    background-color:rgb(226 232 240);
    content: ' or ';
    padding: 0 4px;
    position: relative;
    top: -13px;
  }

  /* current day details container  */
  
  .currentDetails{
    padding: 20px;
    width: 1050px;
    background-color: rgb(37 99 235);
    color: white;
    height: 40vh;
    margin-top: 10px;
  }

  .currentDetailsError{
    background-color: red;
  }

  #currentdetails{
    width: 50%;
    overflow: auto;
  }

  /* forecast details classes  */

  .forecastDetails{
    width: 1050px;
    height: 45vh;
    border: 2px solid black;
  }

  .forecastCard{
    height: 200px;
    width: 180px;
    background-color: rgb(87, 98, 109);
    color: white;
    border-radius: 5px;
    margin: 15px;
    padding:15px;
    
  }

  /* some re-usable classes  */

  .title{
    font-size: 25px;
    font-weight: 700;
  }

  .weatherimage{
    margin-left: 400px;
    
  }

  .hide{
    display: none;
  }